{
  "useTabs": false,
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "printWidth": 80,
  "proseWrap": "always",
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/features/(.*)$",
    "^@/shared/compopents/(.*)$",
    "^@/shared/compopents/ui/(.*)$",
    "^@/shared/config/(.*)$",
    "^@/shared/constants/(.*)$",
    "^@/shared/graphql/(.*)$",
    "^@/shared/hooks/(.*)$",
    "^@/shared/types/(.*)$",
    "^@/shared/lib/(.*)$",
    "^@/shared/utils/(.*)$",
    "^@/shared/api/(.*)$",
    "^@/__generated__/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
